<div class="container mt-3">
    <div class="row" *ngFor="let post of publicaciones; let index = index">
        <div class="col-12 mb-2">
            <div class="card">
                <div class="card-header bg-danger text-white font-weight-bold">POST</div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.body }}</p>
                    <p class="card-text"><small class="text-muted">Usuario: {{ post.userId }}</small></p>
                    <p class="card-text"><small class="text-muted">ID: {{ post.id }}</small></p>
                    <p class="card-text" *ngIf="iconoReacciones[index]" [innerHTML]="iconoReacciones[index]"></p>
                    <p class="card-text"><small class="text-muted">Tags: {{ post.tags.join(', ') }}</small></p>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2">
            <div class="card">
                <div class="card-header bg-danger text-white font-weight-bold">COMENTARIOS</div>
                <div *ngFor="let comment of post.comments">
                    <div class="card-body">
                        <div>
                            <p class="font-weight-bold mr-1 text-info">ID:</p>
                            <p>{{comment.id}}</p>
                        </div>
                        <div>
                            <p class="font-weight-bold mr-1 text-info">CUERPO:</p>
                            <p>{{comment.body}}</p>
                        </div>
                        <div>
                            <p class="font-weight-bold mr-1 text-info">POST ID:</p>
                            <p>{{comment.postId}}</p>
                        </div>
                        <div>
                            <p class="font-weight-bold mr-1 text-info">USUARIO:</p>
                            <p>{{comment.userId}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>